*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(27, 27, 37);
}

header{
    background: white;
    padding: 20px;
}

header > h1{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.score_board{
    border: 3px solid wheat;
    width: 200px;
    margin: 20px auto;
    border-radius: 4px;
    color: white;
    font-size: 30px;
    padding: 15px 20px;
    position: relative;
    
}

.badge{
    background: red;
    border: 2px solid wheat;
    font-size: 14px;
    padding: 2px 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#user-label {
    position: absolute;
    top: 20px;
    left: -50px;
}

#compu-label {
    position: absolute;
    top: 20px;
    right: -60px;
}

#user-score {
    padding: 20px;
}
#comp-score {
    padding: 20px;
}

.Result {
    font-size: 30px;
    color: white;
}

.Result > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin: 50px 0;
}

.choice {
    display: inline-block;
    margin: 50px;
    width: 100px;
    
}
#choice {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 25px;
    font-size: bold;
    transition: all 0.3s ease;

}
#action-message {
    color: white;
    font-size: 30px;
   margin-left: 800px;
    font-weight: bold;
}

#choice:hover {
    background: red;
    color: wheat;
    
}